{% extends "adminbase.html" %}
{% block icon %}pe-7s-graph{% endblock %}
{% block title %}Manage Project{% endblock %}
{% block subtitle %} Here you can manage your projects {% endblock %}
{% block innerbody %}
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header">Projects list</div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Event Name</th>
                            <th class="text-center">Project location</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Start date</th>
                            <th class="text-center">End date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for project in projects%}
                        <tr>
                            <td class="text-center text-muted">{{project.id}}</td>
                            <td class=""> {{project.title}} </td>
                            <td class="text-center"> {{project.location}} </td>
                            <td class="text-center"> {{project.cat_name}} </td>
                            <td class="text-center"> {{project.order_date}} </td>
                            <td class="text-center"> {{project.final_date}}</td>
                            <td class="text-center">
                                <a href="index.php?edit_event=27">
                                    <button type="button" id="PopoverCustomT-1"
                                        class=" btn-wide btn btn-success btn-icon-only">
                                        <i class="pe-7s-note" style="font-size: 1rem;"></i> Edit
                                    </button>
                                </a>
                                <button type="button" id="PopoverCustomT-1"
                                    class=" btn-icon btn-icon-only btn btn-outline-danger"
                                    value="index.php?manage_event&amp;delete_event=27" data-toggle="modal"
                                    data-target="#exampleModal">
                                    <i class="pe-7s-trash" style="font-size: 1rem;"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}