/* ------------------------------

portfolio

------------------------------ */
/* ----- filter ----- */
.art-filter {
    & a {
      color: $text-color-2;
      margin-bottom: 0;
  
      &.art-current {
        color: $text-color-1;
      }
    }
  }
  /* ----- portfolio items ----- */
  .art-portfolio-item-frame {
    display: block;
    width: 100%;
    outline: inherit;
    overflow: hidden;
    box-shadow: $shadow-1;
    position: relative;
    padding-bottom: 60%;
  
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      filter: brightness(85%) blur(0);
      transition: $tr-md;
    }
  
    & .art-item-hover {
      width: 27px;
      height: 27px;
      box-shadow: $shadow-2;
      border-radius: 50%;
      position: absolute;
      color: $text-color-1;
      top: 30px;
      left: 30px;
      background: $card-color-s-light;
      font-size: 11px;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: $tr-md;
    }
  
    &:hover {
      & .art-item-hover {
        opacity: 0.5;
  
        &:hover {
          opacity: 1;
          transform: scale(1.07);
        }
      }
  
      & img {
        transform: scale(1.07);
        filter: brightness(100%) blur(0);
      }
    }
  }
  

  .art-grid {
    transition: $tr-lg;
    width: 100%;
    /* clear fix */
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  
    & .art-grid-item {
      float: left;
      margin-bottom: 30px;
      overflow: hidden;
      position: relative;
      height: auto;
      padding: 0 15px;
  
      & .art-item-description {
        position: absolute;
        z-index: 9;
        bottom: 0;
        left: 15px;
        width: calc(100% - 29px);
        padding: 30px;
        background: $card-color-light;
        box-shadow: $shadow-1;
        transform: translateY(100%);
        transition: $tr-lg;
      }
  
      &:hover {
        & .art-item-description {
          transform: translateY(0);
        }
      }
    }
  
    &.art-grid-2-col {
      & .art-grid-item {
        width: 50%;
  
        & .art-portfolio-item-frame {
          &.art-horizontal {
            padding-bottom: 66.7%;
          }
  
          &.art-vertical {
            padding-bottom: 140%;
          }
  
          &.art-square {
            padding-bottom: 90%;
          }
        }
      }
    }
  
    &.art-grid-3-col {
      & .art-grid-item {
        width: 33.3333%;
  
        & .art-portfolio-item-frame {
          &.art-horizontal {
            padding-bottom: 65%;
          }
  
          &.art-vertical {
            padding-bottom: 140%;
          }
  
          &.art-square {
            padding-bottom: 90%;
          }
        }
      }
    }
  }
  /* ----- touch device ----- */
  @media (pointer:coarse) {
    .art-portfolio-item-frame {
      & .art-item-hover {
        opacity: 0.5;
      }
    }
  
    .art-grid {
      & .art-grid-item {
        & .art-item-description {
          position: relative;
          left: 0;
          width: 100%;
          transform: translateY(0);
        }
  
        &:hover {
          & .art-item-description {
            transform: none;
          }
        }
      }
    }
  }
  /* ----- single project ----- */
.art-project-cover {
    position: relative;
    overflow: hidden;
    box-shadow: $shadow-1;
    margin-bottom: 30px;
  
    & .art-portfolio-item-frame {
      padding-bottom: 50%;
    }
  }
  
  .art-project-category {
    color: $text-color-3;
    margin-left: auto;
    display: inline;
    background: $info-bar-1-color;
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: inset $shadow-1;
    font-size: 10px;
  }
  /* ----- fancybox customization ----- */
.fancybox-container {
    margin: 15px;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
  
    & .fancybox-bg {
      background: $info-bar-1-color-light;
    }
  }
  
  .fancybox-is-open .fancybox-bg {
    opacity: 1;
  }
  
  .fancybox-toolbar {
    background: $card-color-s-light;
    display: flex;
    width: calc(100vw - 30px);
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    box-shadow: $shadow-1;
    z-index: 999999;
    padding: 0 17px;
    transition: $tr-lg;
  
    & .fancybox-button {
      background: transparent;
      color: $text-color-2;
  
      &:hover {
        color: $text-color-1;
      }
  
      & svg {
        width: 20px;
      }
    }
  }
  
  .fancybox-slide--image {
    padding: 130px 0 60px;
  }
  
  .fancybox-navigation {
    & .fancybox-button {
      background-color: transparent;
      margin: 0 15px;
    }
  }
  
  .fancybox-infobar {
    top: 0;
    left: 0;
    font-size: 11px;
    margin-left: 5px;
    z-index: 9999999999999;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: $text-color-2;
  }
  
  .fancybox-progress {
    background: $main-color;
    z-index: 999999999999999999;
  }
  
  .fancybox-content {
    & .fancybox-image {
      box-shadow: $shadow-1;
    }
  }
  
  .fancybox-thumbs {
    background: $card-color;
    box-shadow: $shadow-1;
  }
  
  .fancybox-thumbs__list a:before {
    border-color: $main-color;
    transition: $tr-md;
  }
  
  .fancybox-button[disabled] {
    transform: scale(0);
    pointer-events: none;
    transition: $tr-md;
  }
  
  .art-recomendation-popup {
    background-color: transparent;
    max-width: 50%;
  }