{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- container welcomeheader-->
    {% include 'inc/welcomeheader.html' %}
    <!-- container welcomeheader end -->

    <!-- container counter-->
    {% include 'inc/counter.html' %}
    <!-- container counter end -->

    <!-- container services-->
    {% include 'inc/services.html' %}
    <!-- container services end -->

    <!-- container testimonial-->
    {% include 'inc/testimonial.html' %}
    <!-- container testimonial end -->


{% endblock %}


{% block menu %}
    <!-- menu list -->
    <ul class="main-menu">
        <!-- menu item -->
        <li class="menu-item current-menu-item"><a href="/">Home</a></li>
        <!-- menu item -->
        <li class="menu-item">
            <a href="/Portfolio/show">Portfolio</a>
        </li>
        <!-- menu item -->
        <li class="menu-item"><a href="/History/show">History</a></li>
        <!-- menu item -->
        <li class="menu-item"><a href="/Contact/show">Contact</a></li>
        <!-- menu item -->
        <li class="menu-item">
            <a href="/Blog/show">Blog</a>
        </li>
        <!-- menu item -->
        <li class="menu-item"><a href="/Onepage/show" target="_blank">Onepage</a></li>
    </ul>
    <!-- menu list end -->
{% endblock %}
