{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- container welcomeheader-->
    {% include 'inc/welcomeheader.html' %}
    <!-- container welcomeheader end -->

    <!-- container counter-->
    {% include 'inc/counter.html' %}
    <!-- container counter end -->

    <!-- container services-->
    {% include 'inc/services.html' %}
    <!-- container services end -->

    <!-- container testimonial-->
    {% include 'inc/testimonial.html' %}
    <!-- container testimonial end -->
{% endblock %}
