/* ------------------------------

burger button

------------------------------ */
.art-menu-bar-btn {
    margin-top: -10px;
    display: inline-block;
    width: 15px;
    height: 12px;
    padding: 30px;
  
    & span,
    & span:after,
    & span:before {
      content: "";
      display: block;
      width: 15px;
      height: 3px;
      border-radius: 1px;
      background: $text-color-2;
      transition: $tr-md;
      backface-visibility: hidden;
    }
  
    & span {
      position: relative;
      margin: 5px 0 0;
  
      &:after,
      &:before {
        position: absolute;
      }
  
      &:before {
        top: -5px;
      }
  
      &:after {
        top: 5px;
      }
    }
  
    &.art-active {
      & span {
        transform: rotate(45deg);
        &:before {
          transform: translate(0px, 5px) rotate(-90deg);
        }
        &:after {
          transform: translate(0px, -5px) rotate(-90deg);
        }
      }
    }
    &:hover {
      & span,
      & span:after,
      & span:before {
        background: $text-color-1;
      }
    }
  }
/* ----- buttons frame ----- */
.art-buttons-frame {
    & a {
      margin-right: 15px;
    }
  }

/* ------------------------------

button

------------------------------ */
.art-btn {
    text-transform: uppercase;
    box-shadow: $shadow-2;
    color: $info-bar-1-color;
    background: $main-color;
    letter-spacing: 1.5px;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    border: none;
    transition: $tr-md;
  
    & span {
      align-self: center;
      transition: $tr-sm;
    }
  
    &.art-btn-md {
      height: 45px;
      font-size: 11px;
      padding: 0 35px;
    }
  
    &.art-btn-sm {
      height: 40px;
      font-size: 11px;
      padding: 0 30px;
    }
  
    &:hover {
      transform: translateY(-2px);
      color: $content-color;
    }
  }